.SMPTitel {
    margin: -3vw 2vw 0 2vw;
    width: 40vw;
}

.PR {
    max-width: 100%;
    height: auto;
    aspect-ratio: 16/3;
    object-fit: contain;
}

.GSMP {
    width: 13vw;
}

.GSMP:hover {
    filter: drop-shadow(0 0 1em black);
}

.Panel {
    background-color: var(--Background);
    border-radius: 3em;
    box-shadow: var(--BlockShadow);
    padding: 0.5vw;
    margin-left: 4vw;
    margin-right: 4vw;
}

.PE {
    width: 4vw;
}

.PSVG {
    filter: var(--SVGcolor);
    transition: 0.8s;
}

.PSVGOFF {
    filter: var(--SVGcolor);
    transition: 0.8s;
}

.PSVG:hover {
    scale: 1.5;
}

.hoverBlock {
    background-color: #dddddd75;
}

.PanelP {
    justify-content: space-evenly;
}

.PanelNoLP {
    justify-content: start;
}

.TextIcon {
    color: var(--TextColor);
    font-size: 4vw;
    margin-top: -1.2vw;
}

.TextHover {
    transition: 0.8s;
}

.TextHover:hover {
    scale: 1.5;
}

.PostBG {
    background: var(--BackgroundGradient);
    aspect-ratio: 1/1;
    border-radius: 3em;
    box-shadow: var(--BlockShadow);
    background-repeat: no-repeat;
    background-size: contain;
}

.scaller {
    width: 30vw;
}